.navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: aliceblue;

    .active {
        text-decoration: underline black;
    }
}